@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --color-rd: #a72020;
  --color-blck: #000000;
  --color-wt: #eaeaea;
  --color-grey: #b3b3b3bc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-blck);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  padding: 1.3rem 0px;
  background-color: var(--color-blck);
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* background-color: #101010; */
}

.nav-menu {
  margin-right: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-wt);
}

.nav-link:hover {
  color: var(--color-rd);
}

.nav-logo {
  margin-left: 260px;
  font-size: 2.1rem;
  font-weight: 500;
  color: var(--color-rd);
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;

    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.63);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(0, 0, 0, 0.31);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 20px;
  }
  .bar {
    background-color: var(--color-wt);
    width: 32px;
  }
  .nav-logo {
    margin-left: 20px;
    color: var(--color-rd);
    font-size: 2.5rem;
  }
  span {
    color: var(--color-rd);
  }
}
