@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --color-rd: #a72020;
  --color-blck: #000000;
  --color-gc: #28282874;
  --color-wt: #eaeaea;
  --color-grey: #b3b3b3bc;
  --color-bluelinked: #0A66C2;
  --color-bluetele: #30A3E6;
  --color-pink: #FE016E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-blck);
}



li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: 0px auto;
  z-index: 100;
  padding: 1rem 1.5rem;
  background-color: var(--color-blck);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  border-radius: 5px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-wt);
}

.nav-menu {
  display: flex;
  justify-content: center;
  margin-right: 288px;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-wt);
}

.nav-link:hover {
  color: var(--color-rd);
}

.nav-logo {
  font-size: 3rem;
  margin-right: auto;
  margin-left: 288px;
  font-weight: 500;
  color: var(--color-rd);
}

.contact {
  margin-top: 8px;
  cursor: pointer;
}

.contact p {
  padding: 5px;
}

.contact p:hover {
  padding: 5px;
  color: var(--color-rd);
}

.contact p span {
  margin-left: 10px;
  color: var(--color-grey);
}

#particles-js {
  position: relative;
  overflow-y: hidden;
  height: 100vh;
  width: 100%;
  color: var(--color-wt);
  display: flex;
  align-items: center;
}

#preloader {
  background: #000000 url(../images/preloader-1.gif) no-repeat center center;
  background-size: 8%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.myhero {
  position: absolute;
  right: 110px;
  margin-top: 80px;
}

.myhero img {
  width: 780px;
}

.date {
  /* z-index: 9; */
  position: absolute;
  margin-top: 130px;
  margin-left: 300px;
  width: 500px;
  height: 500px;
  background-color: transparent;
}

.date span {
  color: var(--color-rd);
}

.date h1 {
  font-size: 6.6rem;
}

.contact {
  cursor: pointer;
  overflow-y: hidden;
  font-size: 1.5rem;
}

.contact p {
  padding: 5px;
}

.contact p:hover {
  padding: 5px;
  color: var(--color-rd);
}

.contact p span {
  margin-left: 10px;
  color: var(--color-grey);
}

.icons {
  overflow-y: hidden;
  width: 150px;
  margin-left: -1px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icons a {
  padding: 5px;
  margin-top: 15px;
  font-size: 2.3rem;
  color: var(--color-wt);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-wt);
}

.icons a:hover {
  color: var(--color-rd);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-wt);
}

.icons a:nth-child(1):hover {
  color: var(--color-pink);
}

.icons a:nth-child(2):hover {
  color: var(--color-bluetele);
}

.icons a:nth-child(3):hover {
  color: var(--color-gc);
}

.icons a:nth-child(4):hover {
  color: var(--color-bluelinked);
}


.page2 {
  /* background-color: red; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  -webkit-box-shadow: 1px -18px 74px 68px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px -18px 74px 68px rgba(0, 0, 0, 1);
  box-shadow: 1px -18px 74px 68px rgba(0, 0, 0, 1);
}

.page2 h1 {
  cursor: pointer;
  color: var(--color-wt);
  font-size: 3.5rem;
  padding-bottom: 30px;
}

.page2 h1 span {
  padding: 20px;
}

.a-bout {
  font-size: 2rem;
  color: var(--color-grey);
}

.about-content {
  display: flex;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
}

.btndown:hover {
  background-color: var(--color-rd);
  border-radius: 4px;
  transition: all 1.5s ease-in-out;
}

.herobout {
  width: 800px;
}

.herobout img {
  cursor: pointer;
  width: 300px;
  border-radius: 2rem;
  border: 2px solid var(--color-gc);
}

table {
  font-size: 2rem;
  margin-top: 20px;
  color: var(--color-wt);
}

.list-date {
  padding-left: 20px;
  color: var(--color-grey);
}

td {
  padding-bottom: 10px;
}

button {
  border: 1px solid var(--color-rd);
  background-color: rgba(255, 0, 0, 0.221);
  padding: 8px 15px;
  border-radius: 7px;
  margin-top: 10px;
}

button a {
  color: var(--color-wt);
}

.footer {
  height: 8vh;
  color: var(--color-wt);
  background-color: var(--color-gc);
}

.footer span {
  color: var(--color-rd);
}

.footer h2 {
  text-align: center;
  padding: 15px 0px;
}

/*-------------------\
|   CAROUSEL START   |
\------------------*/

/* carousel */

.carousel_inner {
  border-radius: 12px;
  width: 100%;
  overflow: hidden;
}

.carousel_inner::after {
  content: "";
  display: block;
  clear: both;
}

.carousel_item {
  border-radius: 12px;
  position: relative;
  float: left;
  display: none;
  width: 100%;
  margin-right: -100%;
}


/* carousel */
.port-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-porto {
  cursor: pointer;
  color: var(--color-wt);
  text-align: center;
  padding-block-end: 40px;
  font-size: 4rem;
}

.fa-solid:hover {
  color: var(--color-rd);
}

.fa-solid span:hover {
  color: var(--color-wt);
}

.fa-brands:hover {
  color: var(--color-rd);

}

.fa-brands span:hover {
  color: var(--color-wt);

}








.title-porto span {
  padding: 20px;
}

.carousel {
  cursor: pointer;
  position: relative;
  margin: 0px 265px;
  border: 3px solid var(--color-grey);
  border-radius: 3rem;
}

.carousel_img {
  display: block;
  width: 100%;
}

.carousel_caption {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3rem 4rem;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.carousel_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.carousel_description {
  margin-top: 0.75rem;
  line-height: 150%;
}

.carousel_indicator {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  z-index: 1;
}

.carousel_dot {
  display: block;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.carousel_dot__active {
  background-color: lightskyblue;
  cursor: default;
  pointer-events: none;
}

.carousel_control {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.carousel_button {
  display: block;
  padding-inline: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.375rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.25);
  border: none;
  cursor: pointer;
  transition: color 0.25s;
  z-index: 1;
}

.carousel_button:hover {
  color: rgba(135, 206, 250, 0.75);
}


/* slide effect */
.carousel_item__active,
.carousel_item__pos_prev,
.carousel_item__pos_next {
  display: block;
}

.carousel_item__pos_prev {
  left: -100%;
}

.carousel_item__pos_next {
  left: 100%;
}

.carousel_item__prev {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.carousel_item__next {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

/* fade effect */
.carousel__fade .carousel_item__pos_prev,
.carousel__fade .carousel_item__pos_next {
  left: 0;
  opacity: 0;
}

.carousel__fade .carousel_item__prev,
.carousel__fade .carousel_item__next {
  transform: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__prev,
.carousel__fade .carousel_item__active.carousel_item__next {
  opacity: 0;
}

/*------------------\
|   CAROUSEL END    |
\------------------*/


.skills_section {
  width: 100%;
  height: 80vh;
  padding: 0px 13%;
  color: var(--color-wt);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills_head {
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  place-items: center;
  text-align: center;
}

.skills_head h2 {
  cursor: pointer;
  font-size: 4rem;
  margin-bottom: -5px;
  color: var(--color-wt);
  overflow-y: hidden;
}

.skills_head span {
  padding: 20px;
}

.skills_head p {
  padding: 5px;
  font-size: 2rem;
}

.skills_main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}

.skills_main .skill_bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 2rem;
}

.skill_bar .info p:nth-child(2) {
  font-weight: 500;
}

.skill_bar .bar {
  width: 100%;
  height: 10px;
  background-color: rgba(97, 32, 32, 0.744);
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}

.skill_bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: var(--color-rd);
  border-radius: 25px;
}

.skill_bar .bar .html {
  width: 90%;
  animation: html 2s;
}

@keyframes html {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

.skill_bar .bar .css {
  width: 85%;
  animation: css 2s;
}

@keyframes css {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}

.skill_bar .bar .sass {
  width: 80%;
  animation: sass 2s;
}

@keyframes sass {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.skill_bar .bar .js {
  width: 80%;
  animation: css 2s;
}

@keyframes js {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.skill_bar .bar .react {
  width: 75%;
  animation: react 2s;
}

@keyframes react {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

.skill_bar .bar .node {
  width: 70%;
  animation: node 2s;
}

@keyframes node {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

.skill_bar .bar .express {
  width: 65%;
  animation: express 2s;
}

@keyframes express {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}

.skill_bar .bar .mongo {
  width: 60%;
  animation: mongo 2s;
}

@keyframes mongo {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}











.page-edc {
  height: 130vh;
  max-width: 1000px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 0px auto;
  gap: 30px;
  padding-top: 150px;
  color: var(--color-wt);
}

.menu {
  width: 800px;
  cursor: pointer;
}

.men {
  margin: 20px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--color-gc);
}

.men span {
  color: var(--color-rd);
}

.men:hover {
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  -moz-box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.menu h1 {
  font-size: 3rem;
  padding-left: 40px;
  /* margin-bottom: -50px; */
}

.menu h2 {
  font-size: 2.4rem;
}

.menu h3 {
  font-size: 1.5rem;
}

.menu h4 {
  padding-top: 20px;
  font-size: 1.1rem;
}

.Technology img {
  padding: 0px 5px;
}

.Technology h4 {
  padding-bottom: 10px;
}

.embed {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
}

.embed h1 {
  cursor: pointer;
  overflow-y: hidden;
  font-size: 4rem;
  padding-bottom: 10px;
  color: var(--color-wt);
}

.embed span {
  padding: 20px;
}

.containtembed {
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  border-radius: 5px;
  transition: all 0.5 ease-in-out;
}

.size-embed {
  width: 528px;
  height: 360px;
  padding: 50px;
  text-align: center;
}

iframe:hover {
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  -moz-box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
}



@media only screen and (max-width: 1024px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--color-blck);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-logo {
    margin-left: 10px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    margin-right: 40px;
    display: block;
    cursor: pointer;
  }

  .date {
    position: absolute;
    margin-top: 130px;
    margin-left: 50px;
  }

  .myhero {
    right: -130px;
  }

  .myhero img {
    width: 780px;
  }

  .about-content {
    max-width: 700px;
  }

  .herobout {
    width: 800px;
  }

  .herobout img {
    cursor: pointer;
    width: 240px;
    border-radius: 2rem;
    border: 2px solid var(--color-gc);
  }

  .carousel {
    margin: 0px 100px;
  }

}


@media only screen and (max-width: 768px) {


  .date {
    position: absolute;
    margin-top: 130px;
    margin-left: 50px;
  }

  .myhero {
    right: -130px;
  }

  .myhero img {
    width: 780px;
  }

  .about-content {
    max-width: 700px;
  }


  .page2 {
    /* background-color: red; */
    height: 100vh;

  }

  .page2 h1 {
    font-size: 2.5rem;
    padding-bottom: 30px;
  }

  .page2 h1 span {
    padding: 20px;
  }

  .a-bout {
    font-size: 1rem;
  }

  .about-content {
    max-width: 600px;
    justify-content: center;
  }

  .herobout {
    width: 320px;
  }

  .herobout img {
    display: block;
    width: 180px;
  }


  table {
    font-size: 1rem;
  }




  .carousel {
    margin: 0px 100px;
  }


}



@media only screen and (max-width: 450px) {

  .date {
    position: absolute;
    margin-top: 130px;
    margin-left: 50px;
  }

  .myhero {
    right: -130px;
  }

  .myhero img {
    width: 780px;
  }

  .about-content {
    max-width: 700px;
  }


  .page2 {
    height: 60vh;

  }

  .page2 h1 {
    font-size: 2.5rem;
    padding-bottom: 30px;
    flex-wrap: wrap;
  }

  .page2 h1 span {
    padding: 20px;
  }

  .about-content {
    max-width: 400px;
    display: flex;
    justify-content: start;
    margin-left: 30px;
  }

  .herobout {
    width: 320px;
    width: 180px;
    display: none;
  }



  table {
    font-size: 1rem;
  }

  .a-bout {
    font-size: 1rem;
  }


  .port-container {
    height: 60vh;
  }


  .carousel {
    margin: 0px 50px;
  }

  .skills_main {
    display: flex;
    flex-wrap: wrap;

  }

  .skills_section {
    width: 100%;
    height: 120vh;
    padding: 0px 13%;
    color: var(--color-wt);
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills_main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }



  .page-edc {
    display: flex;
    flex-wrap: wrap;
    height: 170vh;
    /* background-color: #0A66C2; */

  }


  .embed {
    height: 160vh;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
  }

  .embed h1 {
    margin-top: 40px;
    padding: 21px 0;

  }

  .containtembed {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
  }


  .size-embed {
    width: 328px;
    height: 240px;
    padding: 10px 50px;
    /* background-color: red; */
    margin-left: -20px;
  }

  .size-embed iframe {
    width: 250px;
    height: 200px;
  }
}


















































































































































































/* navbar humburger */

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}