@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --color-rd: #a72020;
  --color-blck: #000000;
  --color-gc: #28282874;
  --color-wt: #eaeaea;
  --color-grey: #b3b3b3bc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-blck);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: 0px auto;
  z-index: 999;
  padding: 1rem 1.5rem;
  background-color: var(--color-blck);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  border-radius: 5px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-wt);
}

.nav-menu {
  display: flex;
  justify-content: center;
  margin-right: 288px;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-wt);
}

.nav-link:hover {
  color: var(--color-rd);
}

.nav-logo {
  font-size: 3rem;
  margin-right: auto;
  margin-left: 288px;
  font-weight: 500;
  color: var(--color-rd);
}

.contact {
  margin-top: 8px;
  cursor: pointer;
}
.contact p {
  padding: 5px;
}
.contact p:hover {
  padding: 5px;
  color: var(--color-rd);
}
.contact p span {
  margin-left: 10px;
  color: var(--color-grey);
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url("../images/nanda.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 920px;
  background-attachment: fixed;
  background-position-x: 610px;
  background-position-y: -1px;
  color: #eaeaea;
  display: flex;
  align-items: center;
}

.date {
  margin-top: 130px;
  margin-left: 300px;
  width: 500px;
  height: 500px;
}

.date span {
  color: var(--color-rd);
}

.date h1 {
  font-size: 6.6rem;
}
.contact {
  cursor: pointer;
  overflow-y: hidden;
  font-size: 1.5rem;
}
.contact p {
  padding: 5px;
}
.contact p:hover {
  padding: 5px;
  color: var(--color-rd);
}
.contact p span {
  margin-left: 10px;
  color: var(--color-grey);
}

.icons {
  overflow-y: hidden;

  width: 150px;
  margin-left: -17px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.icons a {
  margin-top: 15px;
  font-size: 2.3rem;
  color: var(--color-wt);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-wt);
}
.icons a:hover {
  color: var(--color-rd);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-wt);
}

.page2 {
  /* background-color: red; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  -webkit-box-shadow: 1px -18px 74px 68px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px -18px 74px 68px rgba(0, 0, 0, 1);
  box-shadow: 1px -18px 74px 68px rgba(0, 0, 0, 1);
}

.page2 h1 {
  color: var(--color-wt);
  font-size: 3.5rem;
  padding-bottom: 30px;
}
.a-bout {
  font-size: 2rem;
  color: var(--color-grey);
}

.about-content {
  gap: 10px;
  display: flex;
  max-width: 1000px;
  /* background-color: red; */
  align-items: center;
  /* max-width: 14 00px; */
}
.btndown:hover {
  background-color: var(--color-rd);
  border-radius: 4px;
  transition: all 1.5s ease-in-out;
}

.herobout {
  width: 800px;
}

.herobout img {
  width: 300px;
  border-radius: 20px;
  border: 2px solid white;
}
table {
  font-size: 2rem;

  margin-top: 20px;
  color: var(--color-wt);
}
.list-date {
  padding-left: 20px;
  color: var(--color-grey);
}
td {
  padding-bottom: 10px;
}

button {
  border: 1px solid var(--color-rd);
  background-color: rgba(255, 0, 0, 0.221);
  padding: 8px 15px;
  border-radius: 7px;
  margin-top: 10px;
}

button a {
  color: var(--color-wt);
}
.card-content {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: column;
}
.card-title {
  margin: 0px auto;
  font-size: 3.5rem;
  color: var(--color-wt);
}

.card-content .card h1 {
  color: var(--color-rd);
}
.card {
  margin: 0px auto;
  gap: 50px;
}

.card-ctn {
  margin: 50px 250px;
  border-radius: 5px;
  background-color: var(--color-gc);
  padding: 20px;
}
.card-ctn:hover {
  -webkit-box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  -moz-box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
}

.card-ctn p {
  color: var(--color-wt);
  font-size: 2rem;
}

.containt-skils {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-items {
  width: 1000px;
  gap: 30px;
}

.skills {
  height: 140vh;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

.skills h1 {
  font-size: 4rem;
  color: var(--color-wt);
  text-align: center;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-wt);
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar {
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per {
  height: 20px;
  background-color: rgb(157, 8, 8);
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

.footer {
  height: 8vh;
  color: var(--color-wt);
  background-color: var(--color-gc);
}
.footer span {
  color: var(--color-rd);
}
.footer h2 {
  text-align: center;
  padding: 15px 0px;
}

#preloader {
  background: #000 url(../images/preloader1.gif) no-repeat center center;
  background-size: 70%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

/* carousel */

.carousel_inner {
  width: 100%;
  overflow: hidden;
}

.carousel_inner::after {
  content: "";
  display: block;
  clear: both;
}

.carousel_item {
  position: relative;
  float: left;
  display: none;
  width: 100%;
  margin-right: -100%;
}

/* slide effect */
.carousel_item__active,
.carousel_item__pos_prev,
.carousel_item__pos_next {
  display: block;
}

.carousel_item__pos_prev {
  left: -100%;
}

.carousel_item__pos_next {
  left: 100%;
}

.carousel_item__prev {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.carousel_item__next {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

/* fade effect */
.carousel__fade .carousel_item__pos_prev,
.carousel__fade .carousel_item__pos_next {
  left: 0;
  opacity: 0;
}

.carousel__fade .carousel_item__prev,
.carousel__fade .carousel_item__next {
  transform: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__prev,
.carousel__fade .carousel_item__active.carousel_item__next {
  opacity: 0;
}

/* carousel */

.title-porto {
  color: var(--color-wt);
  text-align: center;
  padding-block-end: 70px;
  font-size: 4rem;
}

.carousel {
  position: relative;
  margin: 0px 265px;
}
.carousel_img {
  display: block;
  width: 100%;
}

.carousel_caption {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3rem 4rem;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.carousel_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.carousel_description {
  margin-top: 0.75rem;
  line-height: 150%;
}

.carousel_indicator {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  z-index: 1;
}

.carousel_dot {
  display: block;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.carousel_dot__active {
  background-color: lightskyblue;
  cursor: default;
  pointer-events: none;
}

.carousel_control {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.carousel_button {
  display: block;
  padding-inline: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.375rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.25);
  border: none;
  cursor: pointer;
  transition: color 0.25s;
  z-index: 1;
}

.carousel_button:hover {
  color: rgba(135, 206, 250, 0.75);
}

.containkel {
  height: 130vh;
  max-width: 1000px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0px auto;
  gap: 30px;
  padding-top: 150px;
  color: var(--color-wt);
}

.menu {
  width: 800px;
}

.men {
  background-color: var(--color-gc);
  margin: 20px;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
}

.men span {
  color: var(--color-rd);
}

.men:hover {
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  -moz-box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.menu h1 {
  font-size: 3rem;
  padding-left: 40px;
  /* margin-bottom: -50px; */
}
.menu h2 {
  font-size: 2.4rem;
}

.menu h3 {
  font-size: 1.5rem;
}

.menu h4 {
  padding-top: 20px;
  font-size: 1.1rem;
}

.Technology img {
  padding: 0px 5px;
}
.Technology h4 {
  padding-bottom: 10px;
}

.embed {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
}

.embed h1 {
  font-size: 4rem;
  padding-bottom: 50px;
  color: var(--color-wt);
}

.containtembed {
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  border-radius: 5px;
  transition: all 0.5 ease-in-out;
}

.size-embed {
  /* background-color: red; */
  width: 528px;
  height: 360px;
  padding: 50px;
  text-align: center;
}

iframe:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  -moz-box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  box-shadow: 0px 0px 17px 6px rgba(173, 3, 3, 1);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

@media only screen and (max-width: 900px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

    background: rgba(0, 0, 0, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(0, 0, 0, 0.49);
  }
  .nav-logo {
    margin-left: 10px;
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    margin-right: 10px;
    display: block;
    cursor: pointer;
  }
  .date {
    margin-top: 90px;
    margin-left: 25px;
  }

  .container {
    height: 100vh;

    width: 100%;
    background-position: center;
    background-size: 1000px;
    background-attachment: fixed;
    background-position-x: 80px;
    background-position-y: -31px;
    color: #eaeaea;
    display: flex;
    align-items: center;
  }

  .herobout {
    display: block;
    width: 100px;
  }
  .herobout img {
    width: 200px;
  }
  .a-bout {
    font-size: 1.3rem;
  }

  .about-content {
    /* gap: 10px; */
    display: flex;
    max-width: 700px;
    align-items: center;
  }
  .herobout {
    width: 500px;
  }

  table {
    font-size: 1.3rem;
    margin-top: 20px;
    color: var(--color-wt);
  }
  .list-date {
    padding-left: 20px;
    color: var(--color-grey);
  }
  td {
    padding-bottom: 10px;
  }

  button {
    border: 1px solid var(--color-rd);
    background-color: rgba(255, 0, 0, 0.221);
    padding: 8px 15px;
    border-radius: 7px;
    margin-top: 10px;
  }

  button a {
    color: var(--color-wt);
  }
  .carousel {
    position: relative;
    margin: 0px 20px;
  }
  .title-porto {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

    background: rgba(0, 0, 0, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(0, 0, 0, 0.49);
  }
  .nav-logo {
    margin-left: 10px;
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    margin-right: 10px;
    display: block;
    cursor: pointer;
  }

  .container {
    height: 100vh;

    width: 100%;
    background-position: center;
    background-size: 1000px;
    background-attachment: fixed;
    background-position-x: -80px;
    background-position-y: -31px;
    color: #eaeaea;
    display: flex;
    align-items: center;
  }
  .herobout {
    display: none;
    width: 500px;
  }

  span {
    color: var(--color-rd);
  }
  .date {
    margin-top: 90px;
    margin-left: 20px;
  }
  .date h1 {
    font-size: 4.6rem;
  }
  .contact {
    margin-top: 8px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .contact p {
    padding: 5px;
  }
  .contact p:hover {
    padding: 5px;
    color: var(--color-rd);
  }
  .contact p span {
    margin-left: 10px;
    color: var(--color-grey);
  }

  .icons {
    width: 150px;
    margin-left: -17px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .icons a {
    margin-top: 15px;
    font-size: 2.3rem;
    color: var(--color-wt);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-wt);
  }
  .icons a:hover {
    color: var(--color-rd);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-wt);
  }

  .page2 {
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    flex-direction: column;
    -webkit-box-shadow: 1px -18px 74px 68px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px -18px 74px 68px rgba(0, 0, 0, 1);
    box-shadow: 1px -18px 74px 68px rgba(0, 0, 0, 1);
  }

  .page2 h1 {
    color: var(--color-wt);
    font-size: 2.4rem;
    text-align: center;
  }
  .about-content {
    gap: 5px;
    max-width: 600px;
  }

  .a-bout {
    font-size: 1rem;

    margin-top: 10px;
    color: var(--color-grey);
  }

  table {
    margin-top: 20px;
    font-size: 1rem;
    color: var(--color-wt);
  }
  .list-date {
    padding-left: 20px;
    color: var(--color-grey);
  }
  td {
    padding-bottom: 10px;
  }

  button {
    border: 1px solid var(--color-rd);
    background-color: rgba(255, 0, 0, 0.221);
    padding: 8px 15px;
    border-radius: 7px;
    margin-top: 10px;
  }

  button a {
    color: var(--color-wt);
  }
  .card-content {
    padding-block: 20px;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    flex-direction: column;
  }
  .card-title {
    margin: 0px auto;
    font-size: 2.4rem;
    color: var(--color-wt);
  }

  .card-content .card h1 {
    color: var(--color-rd);
  }
  .card {
    margin: 0px auto;
    max-width: 600px;
  }

  .card-ctn {
    margin: 0px 20px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: var(--color-gc);
    padding: 20px;
  }
  .card-ctn p {
    color: var(--color-wt);
    font-size: 1rem;
  }

  .skills {
    width: 100%;
    height: 140vh;
    max-width: 600px;
    padding: 0px 20px;
  }

  .skills h1 {
    color: var(--color-wt);
    text-align: center;
    font-size: 2.4rem;
  }

  .skill-name {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-wt);
    text-transform: uppercase;
    margin: 20px 0;
  }

  .skill-bar {
    height: 20px;
    background: #cacaca;
    border-radius: 8px;
  }

  .skill-per {
    height: 20px;
    background-color: rgb(157, 8, 8);
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
  }

  .skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }

  .skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }

  .footer {
    height: 8vh;
    color: var(--color-wt);
    background-color: var(--color-gc);
  }
  .footer span {
    color: var(--color-rd);
  }
  .footer h2 {
    text-align: center;
    padding: 15px 0px;
  }

  #preloader {
    background: #000 url(../images/preloader1.gif) no-repeat center center;
    background-size: 70%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
  }
  .title-porto {
    color: var(--color-wt);
    text-align: center;
    padding-block-end: 10px;
    font-size: 2.4rem;
  }
  .containkel {
    flex-wrap: wrap;
    height: 180vh;
  }
}
@media only screen and (max-width: 350px) {
  .nav-logo {
    margin-left: 5px;
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    margin-right: 10px;
    display: block;
    cursor: pointer;
  }

  .container {
    height: 100vh;
    width: 100%;
    background-image: url("../images/nanda.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 840px;
    background-attachment: fixed;
    background-position-x: -140px;
    background-position-y: -1px;
    color: #eaeaea;
    display: flex;
    align-items: center;
  }

  .card-content {
    height: 80vh;
  }

  .skills {
    height: 100vh;
  }

  .skills {
    height: 140vh;
    padding-block: 50px;
  }

  .skills h1 {
    font-size: 2.4rem;
  }

  .date {
    padding-top: 20px;
    margin-left: 20px;
  }
  .page2 {
    height: 50vh;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding-top: 80px;
    margin-left: 20px;
    flex-direction: column;
    -webkit-box-shadow: 1px -18px 74px 68px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px -18px 74px 68px rgba(0, 0, 0, 1);
    box-shadow: 1px -18px 74px 68px rgba(0, 0, 0, 1);
  }

  .card-title {
    padding-block-start: 80px;
    font-size: 2rem;
  }
  .about-content {
    display: flex;
    align-items: flex-start;
  }

  .herobout {
    display: none;
  }

  .page2 h1 {
    color: var(--color-wt);
    padding: 20px 0px;
    font-size: 2.4rem;
  }
  .card-content {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    flex-direction: column;
  }

  .carousel {
    position: relative;
    margin: 0px 20px;
  }
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
